.authContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.divAuthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

@media screen and ( max-height: 620px ) { 
    .divAuthContainer {
        margin-bottom: 100px;
    }
 }