.task-container {
    background-color: rgb(241, 238, 238);
    margin: 8px 0;
    padding: 15px 0;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    color: #000;
    font-weight: bold;
    align-items: center;
}
.task-title {
    cursor: pointer;
    padding: 0 20px;
}
.remove-task-button {
    background-color: rgb(241, 238, 238);
    border: none;
    font-size: 24px;
    color: rgb(134, 59, 255);
    margin: 0 15px;
}
.see-task-details-button {
    background-color: rgb(241, 238, 238);
    border: none;
    font-size: 24px;
    color: rgb(134, 59, 255);
    margin: 0 15px;
}
.task-details-container {
    background-color: #fff;
}

@media screen and (max-width: 620px) {
    .button-container {
        display: flex;
        flex-direction: row;
    }
    .remove-task-button {
        font-size: 16px;
        margin: 0 5px;
    }
    .see-task-details-button {
        font-size: 16px;
        margin: 0 5px;
    }

  }

  @media screen and (max-width: 320px) {
    .button-container {
        display: flex;
        flex-direction: column;
    }
    .remove-task-button {
        font-size: 16px;
        margin-right: 10px;
    }
    .see-task-details-button {
        font-size: 16px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
  }